<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PanBites</title>
    <link rel="stylesheet" href="/website/static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <div class="logo">PanBites</div>
            <ul class="nav-links">
                <li><a href="HomePage.html">Home</a></li>
                <li><a href="recipepage.html">Recipes</a></li>
                <li><a href="pantrypage.html">Pantry List</a></li>
            </ul>
        </nav>
    </header>

    <main>

    </main>

    <footer>
        <p>&copy; 2024 PanBites. All rights reserved.</p>
    </footer>

    <script src="/TestPanBites/src/main/resources/static/js/app.js"></script>
</body>
</html>